extends ../layout

block content

  div.rev
    h1.hrevEdit Edit Review
  div.container
    if review
      form(action='/restaurants/#{restaurant.id}/reviews/#{review.id}' method='post')
        fieldset.frevEdit
          legend Edit Review
          div.form-group
            label(for='reviewer_name') Name
            br
            input.form-control(type='text' id='reviewer_name' name='reviewer_name' value=review.reviewer_name placeholder='Name')
          div.form-group
            label Rating
            input(type='radio' name='rating_of_rest' value='1' checked=(review ? (review.rating_of_rest === 1 ? true : undefined): undefined))
            input(type='radio' name='rating_of_rest' value='2' checked=(review ? (review.rating_of_rest === 2 ? true : undefined): undefined))
            input(type='radio' name='rating_of_rest' value='3' checked=(review ? (review.rating_of_rest === 3 ? true : undefined): undefined))
            input(type='radio' name='rating_of_rest' value='4' checked=(review ? (review.rating_of_rest === 4 ? true : undefined): undefined))
            input(type='radio' name='rating_of_rest' value='5' checked=(review ? (review.rating_of_rest === 5 ? true : undefined): undefined))
          div.form-group
            label(for='review') Review
            br
            textarea.form-control(rows='5' id='review' name='review') #{review.review}
          div.buttons
            button.btn.btn-primary#sub(type='submit') Submit
            a.btn.btn-primary(href='/restaurants/#{restaurant.id}') Cancel
